@page "/productoverview"

@using WebAssemblyBlazorDemo.Shared
@using WebAssemblyBlazorDemo.Client.Services

<h3>ProductOverview</h3>

<table class="table table-striped">
    <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Vat %</th>
    <th>Net Price</th>
    <th></th>
    </thead>
    <tbody>
        @foreach (var product in AvailableProducts)
        {
            <ProductListRow Product="product" OnProductDeleted="OnDeleteProduct" />
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="AddProduct">Add Product</button>

@code {
    private List<Product> AvailableProducts { get; set; } = new List<Product>();

    [Inject]
    IJSRuntime JsRuntime { get; set; }

    [Inject]
    public IProductService ProductService { get; set; }


    [Inject]
    private NavigationManager NavigationManager { get; set; }

    protected override void OnInitialized()
    {
        AvailableProducts = ProductService.GetAllProduct();
    }

    private async Task OnDeleteProduct(Product product)
    {
        //Confirm
        var confirmed = await JsRuntime.InvokeAsync<bool>("animalshelterjavascriptfunctions.confirm",
$"Are you sure you want {product.Name} to be adopted?");

        if (confirmed)
        {
            ProductService.DeleteProduct(product);
        }
    }

    private void AddProduct()
    {
        NavigationManager.NavigateTo("/ProductDetail");
    }
}